body{
    background-color: #202020;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(196, 196, 196);
    margin: 1;
    padding: 0;
}

#table{
    background-color: red;
    margin-top: 2vh;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:75%; 
    translate: 12.5vw 0%;
}

#headerTR {
    background-color: #3d3d3d;
    color: #ffffff;
    text-align: left;
}

th {
    text-align: left;
    border-bottom: 1px solid;
    padding: 10px 20px;
}

td {
    text-align: left;
    border-bottom: 1px solid;
    padding: 10px 12px;
}

@keyframes changeColor{
    from {background-color: #202020}
    to {background-color: #292929}
}

tr:hover { 
    background: #292929; 
    animation-name: changeColor;
    animation-duration: 0.1s;
}

tr:active { 
    background: #292929; 
    animation-name: changeColor;
    animation-duration: 0.1s;
}

#Title{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10vh;
}